$fontcolor: #3d1101;

@import 'grid';

.content-register {
    background-color: #efe9e7;
    padding-top: 50px;
    padding-bottom: 25px;

    .form-register {
        max-width: 620px;
        margin: 0 auto;

        @include mobile767() {
            max-width: 300px;
        }

        // 六角西餐廳
        h2 {
            color: $fontcolor;
            font-weight: bold;
            padding-bottom: 5px;
            text-align: center;
        }

        // 享受美食好味道
        span {
            color: $fontcolor;
            font-weight: bold;
            font-size: 20px;
            display: block;
            text-align: center;
            margin-bottom: 35px;
        }

        form {
            border-top: 3px solid #ff5e45;
            padding: 15px;
            box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);

            h4 {
                color: $fontcolor;
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                padding-bottom: 16px;
            }

            // 條款 (左邊)
            .terms-box {
                float: left;
                width: 50%;
                padding-right: 20px;

                @include mobile767() {
                    float: none;
                    width: 100%;
                    padding: 0;
                    padding-bottom: 16px;
                }

                p {
                    font-family: MicrosoftJhengHeiRegular;
                    font-size: 18px;
                    color: $fontcolor;
                    overflow-wrap: break-word;
                    word-break: break-all;
                }

                p:nth-child(1) {
                    line-height: 1.5;
                    padding-bottom: 3px;

                    @include mobile767() {
                        text-align: center;
                    }
                }
            }

            // 表單 (右邊)
            .form-box {
                float: right;
                width: 50%;

                @include mobile767() {
                    float: none;
                    width: 100%;
                }

                label {
                    color: $fontcolor;
                    font-weight: bold;
                }

                input.use-icon {
                    text-indent: 22px;
                }

                // Email
                .email-box {
                    position: relative; // input 裡面的小圖示

                    input[type="email"] {
                        width: 100%;
                        margin-bottom: 15px;
                    }

                    >i {
                        position: absolute;
                        top: 7.005px;
                        left: 10px;
                        color: rgba(61, 17, 0, 0.50);
                    }
                }

                // Password
                .pwd-box {
                    position: relative; // input 裡面的小圖示

                    input[type="password"] {
                        width: 100%;
                    }

                    >i {
                        position: absolute;
                        top: 7.005px;
                        left: 10px;
                        color: rgba(61, 17, 0, 0.50);
                    }
                }

                .pwd-box:nth-child(even) {
                    padding-bottom: 12px;
                }

                // 已經有帳號
                .had-account {
                    font-family: MicrosoftJhengHeiRegular;
                    color: #fe5e45;
                    display: block;
                    width: 98px;
                    margin-bottom: 30px;
                    font-size: 14px;
                    line-height: 1.4;
                }

                // 按鈕樣式
                .form-btn {
                    display: inline-block;
                    color: #fff;
                    padding: 9px 48.5px;
                    border-radius: 3px;
                    font-size: 14px;
                    font-family: PingFangTC-Regular;
                    vertical-align: middle;
                }

                // 註冊按鈕
                .btn-register {
                    background-color: #f56c23;
                    float: right;
                }
            }
        }

    }
}